@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #474242;
  --color-primary: #ef6a1a;
  --color-primary-dark: #d95d14;
  --color-primary-light: #fff5eb;
  --color-secondary: #f2833f;
  --color-black: #030101;
  --color-dark: #131111;
  --color-gray-dark: #474242;
  --color-gray: #c4c4c4;
  --color-gray-soft: #f4f4f4;
  --color-gray-lightest: #f7fafb;

  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;

  /* Animations */
  --animate-marquee: marquee 30s linear infinite;
}

/* Animation for Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
