@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --color-background: #f8fafc;
    --color-foreground: #0f172a;
    --font-inter: 'Inter', sans-serif;
}

body {
    font-family: var(--font-inter);
}
